@import './variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400;500;600;700;800;900;1000&display=swap');

/* Universal and Body scss */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
}
.cus-navbar{
    .cus-logo{
        width: 35vmin;
        &img{
            width: 100%;
        }
    }
}